body {
    background: #DDD
}

a, a:active, a:visited {
    color: #a40d15;
    text-decoration: none
}

a:hover {
    color: #d90000;
    text-decoration: none
}

.container {
    background: #FFF
}

.header, .content {
    padding: .2rem !important
}

.main-card {
    background-color: #f5f5f5;
    padding: .5rem
}

.main-card .list-group-item {
    padding: 0 0 0 1.5rem;
    background-color: transparent;
    border: 0
}